node_modules/
data/
.env
.env.example
.DS_Store
logs/
*.log
pakage-lock.json
dist/
build/
coverage/
tests/
DEPLOYMENT.md
client/test-results/
# Ignore server sqlite DB and server env
server/data/*.sqlite
server/.env